body {
    color: rgb(26, 82, 118);
}


#header {
    display: flex;
    justify-content: space-between;
}

.header-progress {
    font-size: 32px;
    margin: 0 0 24px 0;
}

.header-prefix {
    text-align: center;
    font-size: 32px;
    margin: 0 0 12px 0;
}

.header-question {
    margin-right: 64px;
}

.header-text {
    text-align: center;
    font-size: 24px;
    margin: 0 0 24px 0;
}

#question {
    text-align: left;
}


.choice-container {
    display: flex;
    margin: 10px;
    width: 100%;
    border-radius: 8px;
    background: rgb(26, 82, 118);
    font-size: 16px;
    min-width: 80px;
}

.choice-container:hover{
    cursor: pointer;
    transition: 120ms;
    transform: scale(1.02);
}

.choice-text {
    color: white;
    padding: 16px 24px;
    width: 100%;
}

.correct {
    background: rgb(22, 160, 133);
}

.incorrect {
    background: rgb(203, 67, 53);
}

.button-quit {
    margin-top: 20px;
}



@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 10rem;
    }
}