.switcher input {
    display: none;
}

.switcher {
    position: relative;
    background-color: rgb(36, 113, 163);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 0 3px;
    margin-bottom: 24px;
}


.switcher label {
    position: relative;
    display: flex;
    z-index: 2;
    width: calc(100% / 3);
    color: white;
}

.switcher label span {
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.switcher label span:hover {
    cursor: pointer;
}
  
.switcher .slider {
    position: absolute;
    z-index: 1;
    width: calc((100% - 6px) / 3);
    height: calc((100% - 6px) / 3);
    top: 3px;
    transform: translatex(-110%);
    bottom: 3px;
    border-radius: 8px;
    transition: .30s ease, transform 0.25s ease-out;
    background-color: rgb(84, 153, 199);
}

.switcher input:nth-of-type(1):checked ~ .slider {
    transform: translate(0, 0);
}
.switcher input:nth-of-type(2):checked ~ .slider {
    transform: translate(100%, 0);
}
.switcher input:nth-of-type(3):checked ~ .slider {
    transform: translate(200%, 0);
}
.switcher input:nth-of-type(4):checked ~ .slider {
    transform: translate(0, 100%);
}
.switcher input:nth-of-type(5):checked ~ .slider {
    transform: translate(100%, 100%);
}
.switcher input:nth-of-type(6):checked ~ .slider {
    transform: translate(200%, 100%);
}